# Игнорир по умолчанию
/*

#  исходники, pom и readme
!/src/
!/pom.xml
!/README.md

#  allure-отчёты
!/target/
!/target/site/
!/target/site/allure/

# Внутри target игнорир всё, кроме site/allure
/target/*
!/target/site/
/target/site/*
!/target/site/allure/